<link href='http://fonts.googleapis.com/css?family=Baumans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>

<head>
<style type="text/css">
body {background-image: url("http://glaurung.planet.ee/img/grass_dark.jpg");}
h1 {color:#116316; text-align: center; font-family: 'Baumans', cursive;}
div { text-align: center; background-color: #54FF5F; box-shadow: -.5px .5px 15px 10px #116316; min-height:40%; max-width: 40%; clear: both; margin: auto; 
      border-radius: 20px 15px / 15px 20px;}
p {text-align:center; font-family: 'Source Sans Pro', sans-serif;}

</style>
</head>

<br /><br />
<div>
    <h1>ConsciousConsumer</h1>
    <p> Your score out of 10 is: </p> 
    <h2 style="font-family: 'Baumans', cursive">{{ avg }}</h2>
</div>


<p style="text-align:center; font-family: 'Source Sans Pro', sans-serif; color:#7AEAC7">Created by Sara Bajor 10.13.2013</p>